header {
    display: inline;
}

footer {
    display: inline-flex;

}

#topBar p{
    display: inline-block;


}
#content {
    display: block;
    text-align: center;
}


#logo {
    padding-top: 109px;
    width: 272px;
    height: 92px; 
}
li {

    display: inline-block;
}

#leftFoot {
    display: inline-block;
    text-align: center;
    align-content: left;
}
#rightFoot{
    display: inline-block;
    text-align: center;
    align-content: right;

}

footer.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}